@import '../../sass/variables';

.Header {
  min-width: $width-min;
  background-color: #efefef;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $width-max;
    margin: 0 auto;
    padding: 16px 50px;
  }

  &-logo {
    font-size: 24px;
    color: $color-link;
    text-transform: uppercase;
  }

  &-dashboard {
    margin: 0 20px;
  }
}
